<div class="container carosello">
  <div id="Controls" class="carousel slide mb-4" data-ride="carousel" style="width:55%; margin:auto; background:#194477; padding:7px;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= cl_image_tag("4forenglish/class5_tfmkmw.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia giovani studenti di inglese") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class1_rt93ei.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia giovani studenti di inglese") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class4_ogffct.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti militari di inglese") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class2_z9iao4.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class3_hy04be.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia giovani studenti di inglese") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class7_zjywni.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia insegnanti di inglese") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class8_z68q4v.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia giovani studenti di inglese") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class12_fgcr0g.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia Frances Gallito") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class11_iielhx.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class9_xxgyzx.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class13_esjhdy.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class14_czjskm.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class16_brgbzu.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class19_j97hs0.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class18_oijze4.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class15_v1xe9h.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class21_g384n1.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class22_kidlw1.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class24_tyrdik.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class23_y8cryy.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class25_nsyd6x.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class26_baa1ll.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class27_etb5xd.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class28_qbz87q.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?")%>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class29_yo5slv.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("4forenglish/class30_u3wyit.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#Controls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#Controls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
