<row>
  <div class="col-lg-2 about-img inline-block">
      <%= cl_image_tag("4forenglish/luiss_hgxqyn.jpg", cloud_name: 'dp5r9jn8g', alt: "logo Luiss University") %>
  </div>
  <div class="col-lg-1 about-img inline-block">
      <%= cl_image_tag("4forenglish/sussex_ycfyui.jpg", cloud_name: 'dp5r9jn8g', alt: "logo Sussex University") %>
  </div>
  <div class="col-lg-1 about-img inline-block">
      <%= cl_image_tag("4forenglish/british_pp00lb.jpg", cloud_name: 'dp5r9jn8g', alt: "logo British School") %>
  </div>
  <div class="col-lg-1 about-img inline-block">
      <%= cl_image_tag("4forenglish/ef_h6pnwc.jpg", cloud_name: 'dp5r9jn8g', alt: "logo EF") %>
  </div>
  <div class="col-lg-2 about-img inline-block">
      <%= cl_image_tag("4forenglish/lal_rzsu6a.jpg", cloud_name: 'dp5r9jn8g', alt: "logo LAL") %>
  </div>
  <div class="col-lg-1 about-img inline-block">
      <%= cl_image_tag("4forenglish/enterprise_lqcs1y.jpg", cloud_name: 'dp5r9jn8g', alt: "logo agenzia viaggi Enterprise") %>
  </div>
  <div class="col-lg-1 about-img inline-block">
      <%= cl_image_tag("4forenglish/28_thy938.jpg", cloud_name: 'dp5r9jn8g', alt: "logo ventottesimo reggimento di Pavia") %>
  </div>
  <div class="col-lg-2 about-img inline-block">
      <%= cl_image_tag("4forenglish/Trelleborg_fr2f5w.jpg", cloud_name: 'dp5r9jn8g', alt: "logo Trelleborg") %>
  </div>
</row>
