<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Scegli il tuo corso di inglese | 4 for English</title>
  <meta content="Scopri i diversi Corsi di Inglese offerti dalla 4 for English School per tutti i livelli e le età: Corsi Privati per Singoli o per Gruppi, Corsi di Conversazione, Corsi per Insegnanti Progetto CLIL, Inglese per Viaggiare... visita il sito per saperne di più" name="description">
  <meta name="author" content="Frances Gallito">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">


  <!-- =======================================================
  * Template Name: Reveal - v2.1.0
  * Template URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Top Bar ======= -->
  <section id="topbar">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <a href="https://www.facebook.com/sharer/sharer.php?u=4forenglish.com" target="_blank">
          <img src="https://www.spicey.it/img/facebook-share.jpg" width= "54.5" alt="facebook-share-button" class="share">
        </a>
        <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_EN</script>
        <script type="IN/Share" data-url="https://www.4forenglish.com/corsi"></script>
      </div>
      <div class="social-links float-right">
        <%= link_to image_tag("bf.jpg", size: "20x20", alt: "British flag"), courses_path %>
      </div>
    </div>
  </section><!-- End Top Bar-->

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">


      <div id="logo" class="pull-left">
        <%= link_to image_tag("logo.jpg", size: "100x90", id: "logo", alt: "4 for English logo"), root_path %>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><%= link_to "Home", root_path %> </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>

  <!-- End Header -->


  <!-- Lessons -->

  <section id="services">
    <div class="container">
      <div class="section-header">
        <h2>Lezioni</h2>
        <p class="text-justify">Tra le tante proposte di corsi di lingua Inglese voglio aiutarvi a capire come scegliere quelli veramente efficaci. Parlare la lingua non implica saperla insegnare. Tu sapresti insegnare l’italiano?
          Il mio suggerimento che sento di darvi è quindi di guardare innanzitutto agli anni di studio e agli anni di esperienza del docente. Inoltre, se ha insegnato in diversi paesi è probabile che abbia sviluppato capacità migliori nel comprendere lo studente e le molteplici difficoltà insite nell'apprendimento di una lingua straniera.
          Infine guardate ai risultati ottenuti e al grado di soddisfazione degli studenti, che attestano la loro crescita e miglioramento nella comprensione della lingua.
          Tutto questo è importante quando si sceglie un corso di INGLESE per camminare assieme nell’avventura del meraviglioso mondo dello studio, aprendosi alle molteplici opportunità cui le nuove conoscenze possono portare.<br>
          I corsi <span id="forenglish">4 for English</span> si basano su un innovativo ed esclusivo metodo di insegnamento basato sul libro e utilizzato con successo da centinaia di studenti per apprendere e comprendere in modo naturale e immediato tutte le strutture fondamentali della lingua Inglese.<br>
          L'Autrice e insegnante madrelingua propone:
           </p>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card border-danger mb-3" style="min-height: 30rem;">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Lezioni private<br>ONE-TO-ONE 20/30 ore</strong></h5>
              <p class="card-text text-center"><br>Se il tempo lo vuoi concentrare su di te, allora
                questo è il tuo corso!<br>
                Corsi privati con insegnante
                Madrelingua qualificata per portarti ad
                acquisire sicurezza, migliorando le tue abilità nello Speaking, Listening, Reading e Writing, fondamentali per raggiungere importanti traguardi sia nella vita che nella carriera lavorativa.
                Chiedi un appuntamento per valutare il tuo livello.<br> <strong>Inizia subito!</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-danger mb-3" style="min-height: 30rem;">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Lezioni di Gruppo<br>20/30/60 ore</strong></h5>
              <p class="card-text text-center"><br>Corsi con insegnante
              Madrelingua per gruppi da 4 studenti per livelli intermedi (B1-B2) oppure per gruppi da 6 studenti per livelli principianti (A1-A2).
Approfondisci la grammatica Inglese e migliora le tue capacità di conversazione e di comprensione. Impara a scrivere in modo corretto email, messaggi, articoli e briefings. Le lezioni saranno interattive, divertenti e mai ripetitive. <br><strong>Partecipa anche tu!</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-danger mb-3" style="min-height: 30rem;">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Corso Conversazione <br>10/20 ore</strong></h5>
              <p class="card-text text-center"><br>Questo corso è adatto per i livelli intermedi e avanzati (B1/B2/C1).
La migliore soluzione per esercitare e migliorare la conversazione, con l’opportunità di mettere in pratica tutte le regole e le strutture grammaticali.
L'obiettivo di questo corso è far acquisire allo studente sicurezza espositiva e capacità di espressione. <br><strong>Inizia subito!</strong>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mt-4">
          <div class="card border-info mb-3" id= "cardbusiness" style="min-height: 30rem;">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Business English <br>20/30/60 ore</strong></h5>
              <p class="card-text text-center"><br>Per assicurare a te o alla tua Azienda un vantaggio rispetto ai tuoi concorrenti. <br>L’inglese commerciale è una risorsa vincente per qualsiasi situazione lavorativa in Italia e all’Estero. Con questo corso imparerai a gestire telefonate, inviare email, scrivere
  presentazioni e briefing, esporre argomenti, sostenere interviste di lavoro. Investi nella tua crescita professionale!
  Networking, Meetings, Telephoning, Management e Negotiations sono alcuni degli argomenti che verranno trattati. <br><strong>Fissa un appuntamento!</strong>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-4">
          <div class="card border-info mb-3" id= "cardbusiness" style="min-height: 30rem;">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Inglese per viaggiare <br>20/30 ore</strong></h5>
              <p class="card-text text-center"><br>Affrontare un viaggio all'estero potendo contare su una conoscenza di base della lingua Inglese ti permetterà di godere a pieno del tuo viaggio.<br>
                Questo corso è focalizzato nell'apprendimento delle frasi più utili a seconda delle situazioni: check-in, aeroporti, hotel, ristoranti, dogane etc... tutto ciò di cui avete bisogno per girare il mondo, migliorando così capacità grammaticali e vocabolario. <br> Per essere certi che il vostro viaggio sia perfetto, dovrete portare con voi un po' di Inglese. <br><strong>Parti subito!</strong>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-4">
          <div class="card border-info mb-3" id= "cardbusiness" style="min-height: 30rem;">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>4 for English per insegnanti <br>20/30/60 ore</strong></h5>
              <p class="card-text text-center"><br>Questo corso è progettato per aiutare insegnanti di tutte le materie a migliorare la loro conoscenza della lingua Inglese,
                accrescere il vocabolario e comprendere la grammatica in tutte le sue strutture. Il corso ha l'obiettivo di guidare i docenti non madrelingua a insegnare Inglese
                attraverso il metodo 4 for English a bambini, ragazzi e adulti e di guidare gli insegnanti di tutte le altre materie a formarsi secondo i requisiti del progetto CLIL (Content Language Integrated Learning). <br><strong>Inizia subito!</strong>
              </p>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End About Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container">
        <div class="section-header">
          <h2>Contatti</h2>
        </div>
        <%= render 'shared/form' %>
      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Footer ======= -->
    <%= render 'shared/footer' %>
    <!-- End Footer -->


  </body>

  </html>
