<!DOCTYPE html>
<html lang="en-GB">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Choose your English course | 4 for English</title>
  <meta content="Discover the wide choice of courses 4 for English can offer you: Private Online Lessons, Conversation Course, English for Teachers CLIL project, English for Travel... visit our web-site to know more" name="description">
  <meta name="author" content="Frances Gallito">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">


  <!-- =======================================================
  * Template Name: Reveal - v2.1.0
  * Template URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Top Bar ======= -->
  <section id="topbar">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <a href="https://www.facebook.com/sharer/sharer.php?u=4forenglish.com" target="_blank">
          <img src="https://www.spicey.it/img/facebook-share.jpg" width= "54.5" alt="facebook-share-button" class="share">
        </a>
        <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_EN</script>
        <script type="IN/Share" data-url="https://www.4forenglish.com/courses"></script>
      </div>
      <div class="social-links float-right">
        <%= link_to cl_image_tag("4forenglish/if_wo2mmv.jpg", cloud_name: 'dp5r9jn8g', size: "20x20", alt: "Italian flag"), corsi_path %>
      </div>
    </div>
  </section><!-- End Top Bar-->

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">


      <div id="logo" class="pull-left">
        <%= link_to image_tag("logo.jpg", size: "100x90", id: "logo", alt: "4 for English logo"), en_path %>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><%= link_to "Home", en_path %> </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>

  <!-- End Header -->


  <!-- Lessons -->

  <section id="services">
    <div class="container">
      <div class="section-header">
        <h2>Lessons</h2>
        <p class="text-justify">Among the many proposals for English language courses, I would like to help you understand how to choose the truly effective ones. Speaking the language does not imply knowing how to teach it.
          My suggestion would be to first pay attention to the years of experience of whom will be teaching you English.
          Furthermore, do some research on the professor’s International teaching experience to different countries because it is likely that through this experience teachers develop better skills in understanding the student and the many difficulties involved in learning a foreign language.
          Finally, verify the results achieved and the degree of the student satisfaction and their improvement. All this is important when choosing an English course.
          We know how many opportunities a new language can bring. Let's continue together in this exciting world of studies.<br>
          <span id="forenglish">4 for English</span> courses are based on the book using its innovative and exclusive teaching method, successfully approved by hundreds of students for learning and comprehending all the fundamental structures of the English language in a natural and easy way.<br>
          The Author and teacher proposes the following courses:
        </p>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card border-danger mb-3" style="min-height: 30rem;">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Private Lessons<br>ONE-TO-ONE 20/30 hours</strong></h5>
              <p class="card-text text-center"><br>If you want the time focused on you this is the course for you!<br>
                Private lessons with a qualified mother tongue teacher to help you gain
                confidence and improve your Speaking, Listening, Reading and Writing skills.
                Would you like to achieve important goals in life and boost your career?
                Then ask for an appointment. <br><strong>Get started now!</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-danger mb-3" style="min-height: 30rem;">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Group Lessons<br>20/30/60 hours</strong></h5>
              <p class="card-text text-center"><br>Courses with a native teacher
                Intermediate Groups (B1-B2)
                4 students,
                Beginner Groups (A1-A2)
                6 students.<br>
                Learn English sentence structures and grammar, improve your conversation and
                comprehension skills. Learn to write emails, messages and articles
                correctly. All lessons are interactive and fun.
                <br><strong>Participate now and join us!</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-danger mb-3" style="min-height: 30rem;">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Conversation Course<br>10/20 hours</strong></h5>
              <p class="card-text text-center"><br>This course is suitable for Intermediate and Advanced levels (B1 / B2 / C1).
                This is your best choice if you want to practice and improve conversation and speaking skills.
                The Author and teacher will propose interesting and stimulating discussion topics in every lesson.<br>
                The aim of this course is to acquire self-confidence, expression and lexical skills. <br><strong>Start now!</strong>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mt-4">
          <div class="card border-info mb-3" id= "cardbusiness" style="min-height: 30rem;">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Business English<br>20/30/60 hours</strong></h5>
              <p class="card-text text-center"><br>Business English is a winning resource for any job situation in Italy and worldwide. Having the knowledge of the English language can offer you and your company an advantage over your competitors.
                You will learn how to do presentations, manage phone calls, send emails, write briefings, expose project information and succeed in job interviews. Invest in your professional growth.<br> <strong>Write to us for a meeting!</strong>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-4">
          <div class="card border-info mb-3" id= "cardbusiness" style="min-height: 30rem;">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>English for Travel<br>20/30 hours</strong></h5>
              <p class="card-text text-center"><br>Taking a trip abroad with some English language knowledge will allow you to fully enjoy it. This course is focused in learning the most useful language in the following situations: check-in, airports, customs, hotels, restaurants, shops and getting around... Everything you need to travel the world.
              <br>If you want to make sure your trip is perfect, you need to bring some English with you. Get ready to travel. <br><strong>Start immediately!</strong>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-4">
          <div class="card border-info mb-3" id= "cardbusiness" style="min-height: 30rem;">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>4 for English for Teachers <br>20/30/60 hours</strong></h5>
              <p class="card-text text-center"><br>This course is designed to help non-native teachers of all subjects improve their English language knowledge
               and awareness, increase vocabulary and comprehend grammar in all its structures. The course aims to guide
                teachers from different countries to teach English through the 4 for English method to children, teens and adults.
                <br><strong>Join us now!</strong>
              </p>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End About Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container">
        <div class="section-header">
          <h2>Contacts</h2>
        </div>
        <%= render 'shared/form' %>
      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Footer ======= -->
    <%= render 'shared/footer' %>
    <!-- End Footer -->


  </body>

  </html>
