<!DOCTYPE html>
<html lang="en-GB">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>English Immersion Programs | 4 for English</title>
  <meta content="Programmi intensivi per l'apprendimento veloce della lingua inglese articolati in una o due giornate con possibilità di alloggio a Pesaro. Vieni a scoprire di più!" name="description">
  <meta name="author" content="Frances Gallito">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">


  <!-- =======================================================
  * Template Name: Reveal - v2.1.0
  * Template URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>


  <!-- ======= Top Bar ======= -->
  <section id="topbar">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <a href="https://www.facebook.com/sharer/sharer.php?u=4forenglish.com" target="_blank">
          <img src="https://www.spicey.it/img/facebook-share.jpg" width= "54.5" alt="facebook-share-button" class="share">
        </a>
        <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_EN</script>
        <script type="IN/Share" data-url="https://www.4forenglish.com/full-immersion"></script>
      </div>
    </div>
  </section><!-- End Top Bar-->

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">
      <div id="logo" class="pull-left">
        <%= link_to image_tag("logo.jpg", size: "100x90", id: "logo", alt: "4 for English logo"), root_path %>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><%= link_to "Home", root_path %> </li>
          <li><a href="#about">Scopri di più</a></li>
          <li><a href="#call-to-action">Prossimi eventi</a></li>
          <li><a href="#contact">Prenota ora!</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>
  <!-- End Header -->
  <div class="immersiontitle">
    <h4 class="text-center mt-4"><strong>YOU DESERVE A NEW WAY TO LEARN ENGLISH</strong></h4>
    <h2 class="text-center"><strong>ARE YOU READY TO JOIN THE <span id="forenglish">4 FOR ENGLISH</span> IMMERSION PROGRAMS?</strong></h2>
  </div>
    <div class="container">
      <div class="row">

        <div class="col-12 col-sm-4 mb-2">
          <span class="cont">
            <%= cl_image_tag("https://res.cloudinary.com/dp5r9jn8g/image/upload/ar_1:1,b_rgb:ffffff,bo_4px_solid_rgb:D31930,c_fill,g_auto,r_max,w_1000/v1629276036/4forenglish/f7_oaobbo.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "Having fun") %>
            <div class="overlayr">
              <div class="text">Eventi all'aperto</div>
            </div>
          </span>
        </div>

        <div class="col-12 col-sm-4 mb-2">
          <span class="cont">
            <%= cl_image_tag("https://res.cloudinary.com/dp5r9jn8g/image/upload/ar_1:1,b_rgb:ffffff,bo_5px_solid_rgb:194477,c_fill,g_auto,r_max,w_1000/v1629276036/4forenglish/f2_zumprf.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "Cultural sites") %>
            <div class="overlayb">
              <div class="text">Visite a siti culturali</div>
            </div>
          </span>
        </div>

        <div class="col-12 col-sm-4 mb-2">
          <span class="cont">
            <%= cl_image_tag("https://res.cloudinary.com/dp5r9jn8g/image/upload/ar_1:1,b_rgb:ffffff,bo_5px_solid_rgb:D31930,c_fill,g_auto,r_max,w_1000/v1629276035/4forenglish/f6_nm8wcq.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "Speaking in the nature") %>
            <div class="overlayr">
              <div class="text">Trekking e Biking</div>
            </div>
          </span>
        </div>

        <!-- Force next columns to break to new line -->

        <div class="w-100"></div>

        <div class="col-12 col-sm-4 mb-2">
          <span class="cont">
            <%= cl_image_tag("https://res.cloudinary.com/dp5r9jn8g/image/upload/ar_1:1,b_rgb:ffffff,bo_5px_solid_rgb:194477,c_fill,g_auto,r_max,w_1000/v1629280256/4forenglish/f5_orzqpq.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "Sup and water sports") %>
            <div class="overlayb">
              <div class="text">Sup e attività in mare</div>
            </div>
          </span>
        </div>

        <div class="col-12 col-sm-4 mb-2">
          <span class="cont">
            <%= cl_image_tag("https://res.cloudinary.com/dp5r9jn8g/image/upload/ar_1:1,b_rgb:ffffff,bo_5px_solid_rgb:D31930,c_fill,g_auto,r_max,w_1000/v1629276035/4forenglish/f4_u9bv2o.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "Historical places") %>
            <div class="overlayr">
              <div class="text">Visite a centri storici e borghi</div>
            </div>
          </span>
        </div>

        <div class="col-12 col-sm-4 mb-2">
          <span class="cont">
            <%= cl_image_tag("https://res.cloudinary.com/dp5r9jn8g/image/upload/ar_1:1,b_rgb:ffffff,bo_5px_solid_rgb:194477,c_fill,g_auto,r_max,w_1000/v1629276035/4forenglish/f3_eatelc.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "Canoa") %>
            <div class="overlayb">
              <div class="text">Canoa e Rafting in fiume</div>
            </div>
          </span>
        </div>

        <!-- Force next columns to break to new line -->

        <div class="w-100"></div>

        <div class="col-12 col-sm-4 mb-2">
          <span class="cont">
            <%= cl_image_tag("https://res.cloudinary.com/dp5r9jn8g/image/upload/ar_1:1,b_rgb:ffffff,bo_5px_solid_rgb:D31930,c_fill,g_auto,r_max,w_1000/v1629276035/4forenglish/f9_aueomm.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "Adventure") %>
            <div class="overlayr">
              <div class="text">Avventure in mezzo alla Natura</div>
            </div>
          </span>
        </div>

        <div class="col-12 col-sm-4 mb-2">
          <span class="cont">
            <%= cl_image_tag("https://res.cloudinary.com/dp5r9jn8g/image/upload/ar_1:1,b_rgb:ffffff,bo_5px_solid_rgb:194477,c_fill,g_auto,r_max,w_1000/v1629276035/4forenglish/f1_aglfbi.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "Yoga") %>
            <div class="overlayb">
              <div class="text">Yoga con Maestri professionisti</div>
            </div>
          </span>
        </div>

        <div class="col-12 col-sm-4 mb-2">
          <span class="cont">
            <%= cl_image_tag("https://res.cloudinary.com/dp5r9jn8g/image/upload/ar_1:1,b_rgb:ffffff,bo_5px_solid_rgb:D31930,c_fill,g_auto,r_max,w_1000/v1629280611/4forenglish/f8_jixi3x.jpg", cloud_name: 'dp5r9jn8g', class: "d-block w-100", alt: "English breakfast") %>
            <div class="overlayr">
              <div class="text">Brunch in compagnia</div>
            </div>
          </span>
        </div>
      </div>
    </div>

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container mt-4">
        <div class="row">
          <div class="content">
            <h2>Cos'è un English Immersion Program?</h2>
            <ul>
              <li> ► è un programma per gruppi di studenti, intensivo e strutturato, pensato per l'apprendimento della lingua inglese e con durata variabile tipicamente da 8 ore a 24 ore (divise in 3 giornate consecutive). Durante l'<strong>English Immersion Program</strong> sarà richiesto di comunicare sempre e solo in inglese. In questo modo l’apprendimento è più efficace, perchè combinato con la necessità e una elevata durata dell’esposizione alla lingua</li>
              <li> ► saranno organizzate varie attività da fare assieme come biking, yoga, canoa, trekking, sup, beach, aperitivi, visite di luoghi storici e altro ancora. Durante le attività sarete accompagnati e seguiti dalla vostra insegnante madrelingua</li>
              <li> ► non importa se sei a Londra o a Livorno, a Bologna, a Manchester o a Pesaro: l’importante è trovarsi in una situazione in cui sarai "costretto" a parlare in inglese in compagnia di altri studenti e durante le diverse attività propedeutiche organizzate appositamente dall'insegnante</li>
              <li> ► è possibile il pernottamento per la notte nella <u><a href="https://www.airbnb.it/rooms/7832187?source_impression_id=p3_1629307390">struttura convenzionata</a></u> nel caso di evento su più giornate </li>
              <li> ► è possibile comunque richiedere un <strong>English Immersion Program</strong> personalizzato sia nelle attività che nella durata <u><a href="#contact">scrivici qua</a></u>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 text-center text-lg-left">
            <h3 class="cta-title">Prossimi eventi</h3>
            <p class="cta-text text-justify">
              <strong> <u>28-29 Agosto</u> 🌞 SALUTIAMO L'ESTATE CON UN SORRISO ENGLISH STYLE</strong><br><br>
              GIORNO 1: <br>
              🏁 Incontro a Pesaro, Città della Bici, alle ore 9.30 <br>
              🚴 Noleggio biciclette per tour guidato della città. Visite al Teatro Rossini, al Palazzo Ducale e al Centro Storico. Segue pedalata lungo mare fino a Kite Beach dove è possibile provare il Sup oppure rilassarsi sotto l'ombrellone e fare il bagno al mare <br>
              🍷 Per l'orario del tramonto si raggiungono sul San Bartolo le Vigne Mancini (spostamento in macchina), dove sarà possibile gustare un buon bicchiere di vino con di fronte il panorama più suggestivo di Pesaro <br>
              🏠 La prima giornata si conclude alle ore 20.30. Per chi volesse partecipare ad entrambe le giornate è possibile il pernottamento di un posto letto nella <a href="https://www.airbnb.it/rooms/7832187?source_impression_id=p3_1629307390">struttura convenzionata</a> <br><br>
              GIORNO 2: <br>
              🏁 Per quelli che si uniranno dal secondo giorno o che hanno dormito in altre strutture, l'incontro sarà a Pesaro con il resto del gruppo alle ore 9.00 <br>
              👩‍🏫 Colazione con l'insegnante madrelingua, all'insegna di attività di conversazione e giochi con focus su vocabulary e speaking <br>
              🚶 Partenza verso le ore 12.00 per un Trekking di circa due ore tra i bellissimi sentieri del Monte San Bartolo. Si porterà anche tutto il necessario per un picnic panoramico nel Parco Naturale <br>
              🥡 Picnic "of course, all in English" e saluti finali alle ore 17.00 <br><br><br>

              Cosa aspetti? Iscriviti subito o contattaci per maggiori informazioni.<br>... e non dimenticarti di visitare questa pagina di tanto in tanto per tenerti aggiornato sui prossimi <strong>English Immersion Programs</strong>

            </p>
          </div>
          <div class="col-lg-2 cta-btn-container text-center mt-4">
            <a class="cta-btn align-middle" href="mailto:school@4forenglish.com">Iscriviti</a>
          </div>
        </div>
      </div>
    </section><!-- End Call To Action Section -->


<br><br>
    <section id="contact">
      <div class="container">
        <div class="container mb-4">
          <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Pesaro%20(PU)+(My%20Business%20Name)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="section-header">
          <%= render 'shared/form' %>
        </div>
      </div>
    </section>

  <%= render 'shared/footer' %>
