<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>4 for English </title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">


  <!-- =======================================================
  * Template Name: Reveal - v2.1.0
  * Template URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>


  <!-- ======= Top Bar ======= -->
  <section id="topbar">
    <div class="container clearfix">
    <!--  <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:francesgallito.ny@gmail.com">francesgallito.ny@gmail.com</a>
        <i class="fa fa-phone"></i> +39 347-5628-822
      </div> -->
      <div class="social-links float-right">
        <strong>EN</strong> <%= link_to image_tag("if.jpg", size: "20x20", alt: "Italian flag"), root_path %>
        <!--
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
      </div>
    </div>
  </section><!-- End Top Bar-->

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">


      <div id="logo" class="pull-left">
        <%= image_tag("logo.jpg", size: "70x60", id: "logo", alt: "New York") %>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><%= link_to "Home", root_path %> </li>
          <li><a href="#about">Teaching method</a></li>
          <li><a href="#services">Courses</a></li>
          <li><a href="#clients">Collaborations</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
          <li class="menu-has-children"><a href="">More</a>
            <ul>
              <li><a href="#team">Who I am</a></li>
              <li><%= link_to "Lessons", lessons_path %></li>
              <li><%= link_to "Course of Italian words and gestures", italian_course_path %></li>
            </ul>
          </li>
          <li><a href="#contact">Contact me</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Intro Section ======= -->


  <section id="intro">

    <div class="intro-content">
      <h2> <span>4 for English</span>  School<br></h2>
      <h3> Learning English has never been so cool!</h3>
      <div>
        <a href="#services" class="btn-projects">Courses</a>
        <a href="#call-to-action" class="btn-get-started">Test your level</a>
      </div>
    </div>


  </section><!-- End Intro Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container mt-4">
        <div class="row">
          <div class="col-lg-8 about-img">
              <%= image_tag("copertina.jpg", alt: "Frances Gallito's book") %>
          </div>

          <div class="col-lg-4 content">
            <h2>4 for English is... </h2>
            <ul>
              <li> ► a highly innovative method that facilitates the understanding of all the English Sentence Structures, tested and approved by hundreds of students from all over the world</li>
              <li> ► based on an easy mathematical scheme divided by 4 of all the English Structures and verb tenses. It means learn once and for all! </li>
              <li> ► the result of research, insights and teaching practice achieved from my 15 years of teaching English to International students</li>
              <li> ► every course of the <span id="forenglish">4 for English</span> <span id="ischool"> School</span> is based on this method. Choose the best one for you! <br><span id="forenglish"><u>My book will be soon available on sale</u> </span></li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Courses</h2>
          <p><span id="forenglish">4 for English</span> <span id="ischool"> School</span> offers different types of courses, meeting all the possible needs of the students. <br> What are you waiting for? Choose your best fit and join us. </p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div id= "online" class="box">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><%= link_to "Online courses one-to-one or for groups", lessons_path %></h4>
              <p class="description"> All the different topics will be discussed priorly and followed up after an introductive meeting with the teacher.
                <br> <a href="#contact"> Contact the teacher </a> </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div id= "business" class="box">
              <div class="icon"><i class="fa fa-picture-o"></i></div>
              <h4 class="title"><%= link_to "Business English", lessons_path %></h4>
              <p class="description">These specialized courses are thought to be personalized and proposed to companies of different fields.
              <br><strong>If you are a company</strong>, write <a href="mailto:school@4forenglish.com">here</a> for further info. </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div id= "travel" class="box">
              <div class="icon"><i class="fa fa-map"></i></div>
              <h4 class="title"><%= link_to "English for travelling", lessons_path %></h4>
              <p class="description">If you are going on a holiday or on a business trip... English is fundamental. This course is studied to give you all the necessary tools to travel in every situation: airports, hotels, restaurants or just getting around.
              <br> <a href="#contact"> Contact the teacher</a></p>
            </div>
          </div>

          <div class="col-lg-6">
            <div id="italiano" class="box">
              <div class="icon"><i class="fa fa-map"></i></div>
              <h4 class="title"><%= link_to "Course of Italian words and gestures", italian_course_path %></h4>
              <p class="description"> Have you ever wished to speak the romantic Italian language? And to know the meaning of all the Italian fantastic gestures? Here is a beginner course for you!
              <br> <a href="#contact"> Contact me to start </a>  </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div id= "next" class="box">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">4 for English Masterclass</a></h4>
              <p class="description">Choose the best programme for your level of English. Each programme contains video-lessons and exercises with solutions and explanations.
              <br>
                <a href="#call-to-action"> Schedule a meeting with the teacher to estimate your English level </a>
            </div>
          </div>

          <div class="col-lg-6">
            <div id= "next" class="box">
              <div class="icon"><i class="fa fa-map"></i></div>
              <h4 class="title"><a href="">Full immersion</a></h4>
              <p class="description"> Wide programme of activities will be proposed to enchant your English conversation skills, including guided tours in the most suggestive italian towns. Of course, all in English!
              <br>
               Further info <a href="#"> here </a></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Clients Section ======= -->
    <section id="clients">
      <div class="container">
        <div class="section-header">
          <h2>Collaborations</h2>
          <p>During the years <i>4 For English</i> has semplified and facilitated the learning of the English language for students from different realities. Here are some! </p>
        </div>

        <row>

          <div class="col-lg-2 about-img inline-block">
              <%= image_tag("luiss.jpg", alt: "logo Luiss University") %>
          </div>
          <div class="col-lg-1 about-img inline-block">
              <%= image_tag("sussex.png", alt: "logo Sussex University") %>
          </div>
          <div class="col-lg-1 about-img inline-block">
              <%= image_tag("british.gif", alt: "logo British School") %>
          </div>
          <div class="col-lg-1 about-img inline-block">
              <%= image_tag("ef.jpg", alt: "logo EF") %>
          </div>
          <div class="col-lg-2 about-img inline-block">
              <%= image_tag("lal.jpg", alt: "logo LAL") %>
          </div>
          <div class="col-lg-1 about-img inline-block">
              <%= image_tag("enterprise.jpg", alt: "logo agenzia viaggi Enterprise") %>
          </div>
          <div class="col-lg-1 about-img inline-block">
              <%= image_tag("28.jpg", alt: "logo ventottesimo reggimento di Pavia") %>
          </div>
          <div class="col-lg-2 about-img inline-block">
              <%= image_tag("Trelleborg.png", alt: "logo Trelleborg") %>
          </div>

        </row>

    </section><!-- End Clients Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials">
      <div class="container">
        <div class="section-header">
          <h2>Testimonials</h2>
        </div>

          <div class="testimonial-item">
            <p>
              "I have finally understood many English Sentence Structures. I miss you and Malta!"
            </p>
            <h6>Oliver </h6>
            <h4><strong>International Young Learner - Copenaghen</strong></h4>
          </div>

          <div class="testimonial-item">
            <p>
              "Best teacher for me on Campus"
            </p>
            <h6>Aya</h6>
            <h4><strong>International Young Learner - Israel</strong></h4>
          </div>

          <div class="testimonial-item">
            <p>
              "Frances was my English teacher over the last 8 months and for me has been a pleasure to work with her. Thanks to her approach and teaching method, I have been able to improve and deepen my English knowledge. Additionally, I've really appreciated her book 4 for English. The structure is very useful. For me, it has been a very good way to improve the language"
            </p>
            <h6>Gianluca Palmieri</h6>
            <h4><strong>Business and Marketing Analyst</strong></h4>
          </div>

          <div class="testimonial-item">
            <p>
              "I would like to thank Frances because she was my first real English teacher. In the past I have followed several English courses and all the lessons were boring. In my opinion the great strengths of Frances are the communication and her ability to custom the lessons to her students, because for sure she loves her job. Her method in teaching was very stimulating. My approach to the English language has improved for the first time and this has been possible thanks to her"
            </p>
            <h6>Isabella Panetta</h6>
            <h4><strong> Marketing Assistant</strong></h4>
          </div>

          <div class="testimonial-item">
            <p>
              "For me it was an important way to approach the English lessons. Her skill to create an interesting environment and a high level experience was for me a great opportunity to learn English. The structures from her book 4 for English helped me understand the different verb tenses and it was easier for me to comprehend the English language. I have improved the English language and the efficiency on my job. Thank you"
            </p>
            <h6>Augusto Gilardi</h6>
            <h4><strong>Reporting Manager</strong></h4>
          </div>

          <div class="testimonial-item">
            <p>
              "I would like to thank British School for the opportunity to study with a GREAT teacher from New York. She is professional, reliable, meticolous and knowledgeable. For me she has been the perfect teacher to learn and improve my English"
            </p>
            <h6>Cristina Melandri</h6>
            <h4><strong>Manager Assistant</strong></h4>
          </div>

          <div class="testimonial-item">
            <p>
              "Great job!!! Your teacher rating for Summer 2018 is 4.885. Well done on that! Ranking top 10 International best teachers"
            </p>
            <h6>EF</h6>
            <h4><strong>Education First</strong></h4>
          </div>

          <div class="testimonial-item">
            <p>
              "Thank you Frances. Your empathy, professionality, qualities and initiatives for the teaching approach have been more than qualified. It was immediately obvious that you have a great report with the students. The atmosphere in your classroom is supportive, relaxed and enjoyable. We appreciated greatly having you in our team"
            </p>
            <h6>LAL UK</h6>
            <h4><strong>Sussex University</strong></h4>
          </div>

          <div class="testimonial-item">
            <p>
              "Enrolling to English schools represent a new challenge every year. This year I had a new teacher from NY, Frances. I have found her explanation very clear and methods of teaching very useful and efficient. Every lesson was different from the other. It was very interesting and never boring"
            </p>
            <h6>Andrea</h6>
            <h4><strong>Student</strong></h4>
          </div>

          <div class="testimonial-item">
            <p>
              "I was followed by Mrs Frances Gallito during my upper-intermediate Business English course. I very much liked and appreciated her structured way of teaching which gave me a real and great improvement of my knowledge. The structure of her book helped me to improve the understanding of different sentence structures and verb tenses, making everything easier to understand"
            </p>
            <h6>Francesco Rembadi</h6>
            <h4><strong>Quality Manager</strong></h4>
          </div>

          <div class="testimonial-item">
            <p>
              "Il corso è stato efficace e molto interessante. Utile per poter approfondire la lingua Inglese. La nostra teacher Frances è stata molto brava sia nei metodi che nella didattica, capace di rendere la lezione sempre stimolante. Il suo libro 4 for English è comprensibile e ben strutturato, capace di farti apprendere facilmente i tempi verbali"
            </p>
            <h6>Divisione Esercito 28^ Pavia</h6>
            <h4><strong>Student</strong></h4>
          </div>

          <div class="testimonial-item">
            <p>
              "Da 1 a 10, voto 10! Per i suoi metodi di insegnamento efficaci. 4 for English è stato molto utile per riuscire a seguire tutte le lezioni"
            </p>
            <h6>Divisione Esercito 28° Pavia</h6>
            <h4><strong>Student B1</strong></h4>
          </div>

          <div class="testimonial-item">
            <p>
              "Frances provided exhaustive information about every topic. She is very skilled, she has adopted a tutorial approach that immediately improved my understanding. She is competent and experienced in both languages. Definetely it was a pleasure learning English with her"
            </p>
            <h6>Gianpaolo</h6>
            <h4><strong>British School student</strong></h4>
          </div>

          <div class="testimonial-item">
            <p>
              "Ho partecipato a diversi programmi di full-immersion estivi organizzati dalla teacher Frances, dove ho avuto modo insieme ad altri studenti di parlare Inglese e di divertirmi tanto in escursioni, visite a luoghi di interesse e attività come yoga, trekking e corsi di cucina"
            </p>
            <h6>Natascia</h6>
            <h4><strong>British School student</strong></h4>
          </div>

        </div>

    </section><!-- End Testimonials Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Call To Action</h3>
            <p class="cta-text"> Let's estimate together your English level in order for you to have the best experience in this school. The evaluation is free and it is accomplished
            through a short conversation directly with the teacher.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center mt-4">
            <a class="cta-btn align-middle" href="mailto:school@4forenglish.com">Schedule the meeting</a>
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h2>Teacher</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="details">
                <h4>Frances Gallito</h4>
                <div class="social">
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
              <br>
                <%= image_tag("pic.jpg", height: 190, alt: "profile picture of Frances Gallito") %>
            </div>
          </div>
          <div class="col-lg-9 col-md-6">
            <div class="details">

              <p align="justify"> Frances grow up and studied in <strong>New York (USA)</strong>. She is qualified in teaching English as a second language - ESL English. She has also achieved the certification <strong>CertTesol of the London Trinity College </strong> to teach internationally.
                Her business background has brought her to take part in several International projects.<br><br>
                 She has taught English and Business English in Italy, Spain, Malta and UK, for the European Community, important Corporations, schools and well-known International Universities. She has numerous years of experience teaching English to learners worldwide.<br>
                 Author of her book <strong><i>4 for English</i></strong>&copy; designed to help students of every level. Her book can also be used by teacher as a resource on which to base lessons. Now she is living in Italy where she continues her passion for teaching. <br><br>"<i>Teaching is not a profession: it's a passion. Without passion for the subject and the desire for your students to learn... the future of a student will resemble a sunset instead of a sunrise</i>"<p>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Team Section -->

    <!-- ======= Student experiences Section ======= -->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h2>Esperiences</h2>
        </div>
        <div class="row justify-content-around">
          <div class="col-4">
            <%= image_tag("class1.jpg", height: 300,  width: 450, alt: "young english students photo") %>
          </div>
          <div class="col-5">
            <%= image_tag("class2.jpg", height: 300, width: 450, alt: "young english students photo") %>
          </div>
        </div>
        <br>
        <div class="row justify-content-around">
          <div class="col-4">
            <%= image_tag("class3.jpg", height: 300, width: 450, alt: "adult english students photo") %>
          </div>
          <div class="col-5">
            <%= image_tag("class5.jpg", height: 300, width: 450, alt: "young english students photo") %>
          </div>
        </div>
        <br>
        <div class="row justify-content-around">
          <div class="col-3">
            <%= image_tag("class4.jpg", height: 300, alt: "adult english students photo") %>
          </div>
          <div class="col-3">
            <%= image_tag("class6.jpg", height: 300, alt: "english teachers") %>
          </div>
          <div class="col-3">
            <%= image_tag("class7.jpg", height: 300, alt: "young english students photo") %>
          </div>
        </div>
        <br>
        <div class="row justify-content-around">
          <div class="col-4">
            <%= image_tag("class8.jpg", height: 300, width:450, alt: "englis teacher") %>
          </div>
          <div class="col-5">
            <%= image_tag("class9.jpg", height: 300, width:450, alt: "adult english students photo. Do you speak English?") %>
          </div>
        </div>
      </div>
    </section>


    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container">
        <div class="section-header">
          <h2>Contacts</h2>
        </div>

        <div class="row contact-info">

        </div>

      <div class="container mb-4">
        <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Pesaro%20(PU)+(My%20Business%20Name)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
          <div class="form">
      			<%= form_with scope: :article, url: articles_path, class: "php-email-form", local: true do |f| %>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= f.text_field :name, id: "name", class: "form-control", placeholder: "Your Name" %>
                  <div class="validate"></div>
      					</div>
                <div class="form-group col-md-6">
                  <%= f.text_field :email, id: "email", class: "form-control", placeholder: "Your Email" %>
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <%= f.text_field :subject, id: "subject", class: "form-control", placeholder: "Subject" %>
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <%= f.text_area :message, id: "message", class: "form-control", rows: 5, placeholder: "Message" %>
                <div class="validate"></div>
              </div>
              <div class="form-group row justify-content-center">
                <%= f.submit class: "button", value: "Send Message" %>
      			  <% end %>
      				</div>

          </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright 2021 <strong>4 for English - Fundamental English Sentence Structures </strong>. All Rights Reserved
      </div>
    <div class="credits">

      Designed by <%= link_to "Alessandro Ciocchetti", "https://www.linkedin.com/in/alessandro-ciocchetti-281217152/", target: "_blank", rel: "noopener noreferrer" %> for Frances Gallito

      </div>

    </div>

  </footer>
  <!-- End Footer -->


</body>

</html>
