<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>4 for English - Learning English has never been so Cool!</title>
  <meta content="4 for English can offer you a wide choice of different Courses: One to One, Groups, Business English and much more... visit the website to know more" name="description">
  <meta name="author" content="Frances Gallito">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
</head>
<body>
  <!-- ======= Top Bar ======= -->
  <section id="topbar">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <a href="https://www.facebook.com/sharer/sharer.php?u=4forenglish.com" target="_blank">
          <img src="https://www.spicey.it/img/facebook-share.jpg" width= "54.5" alt="facebook-share-button" class="share">
        </a>
        <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_EN</script>
        <script type="IN/Share" data-url="https://www.4forenglish.com/en"></script>
      </div>
      <div class="social-links float-right">
        <strong>EN</strong> <%= link_to cl_image_tag("4forenglish/if_wo2mmv.jpg", cloud_name: 'dp5r9jn8g', size: "20x20", alt: "Italian flag"), root_path %>
      </div>
    </div>
  </section><!-- End Top Bar-->
  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">
      <div id="logo" class="pull-left">
        <%= link_to image_tag("logo.jpg", size: "100x90", id: "logo", alt: "4 for English logo"), en_path %>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><%= link_to "Home", en_path %> </li>
          <li><a href="#about">Teaching method</a></li>
          <li><a href="#services">Courses</a></li>
          <li><a href="#clients">Collaborations</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
          <li class="menu-has-children"><a href="">More</a>
            <ul>
              <li><a href="#team">Who I am</a></li>
              <li><%= link_to "Lessons", courses_path %></li>
              <li><%= link_to "Course of Italian words and gestures", italian_course_path %></li>
            </ul>
          </li>
          <li><a href="#contact">Contact me</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->
  <!-- ======= Intro Section ======= -->
  <section id="intro">
    <div class="intro-content">
      <h2><span>4 for English</span></h2>
      <h3>Learning English has never been so cool!</h3>
      <div>
        <a href="#services" class="btn-projects">Courses with the Author</a>
        <a href="#about" class="btn-get-started">Innovative method</a>
      </div>
    </div>
  </section><!-- End Intro Section -->
  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container mt-4">
        <div class="row">
          <div class="col-lg-8 about-img">
            <%= cl_image_tag("4forenglish/copertina_rhvbeq.jpg", cloud_name: 'dp5r9jn8g', alt: "Libro di Frances Gallito") %>
          </div>
          <div class="col-lg-4 content">
            <h2>4 for English is... </h2>
            <ul>
              <li> ► a highly innovative method that facilitates the understanding of all the English Sentence Structures, tested and approved by hundreds of students from all over the world</li>
              <li> ► based on an easy mathematical scheme divided by 4 of all the English Structures and verb tenses. It means learn once and for all! </li>
              <li> ► the result of research, insights and teaching practice achieved from my 15 years of teaching English to International students</li>
              <li> ► every <span id="forenglish">4 for English</span> course is based on this original method. Choose the best for you! <br><span id="forenglish"><u>Purchase the book. Contact me!</u></span></li>
            </ul>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Courses</h2>
          <p>All the courses are based on the innovative method of <span id="forenglish">4 for English</span>. The Author and teacher offers different types of courses, meeting all the possible needs of the students. <br> What are you waiting for? Choose your best fit and join us. </p>
        </div>
        <div class="row">
          <div class="card-deck mb-4 mx-auto">
            <div class="card courses">
              <%= cl_image_tag("4forenglish/online_vnc3ue.jpg", cloud_name: 'dp5r9jn8g', alt: "Lezioni private di Inglese", class: "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to "Courses one-to-one or for groups", courses_path %> </h5>
                <p class="card-text">All the different topics will be discussed priorly and followed up after an introductive meeting with the teacher</p>
                <br>
                <p class="card-text"><small class="text-muted float-right"><a href="#contact">Contact the teacher ►</a></small></p>
              </div>
            </div>
            <div class="card courses">
              <%= cl_image_tag("4forenglish/business_kkeqsj.jpg", cloud_name: 'dp5r9jn8g', alt: "Business English", class: "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to "Business English", courses_path %> </h5>
                <br>
                <p class="card-text">These specialized courses are thought to be personalized and proposed to companies of different fields</p>
                <br>
                <p class="card-text"><small class="text-muted float-right"><a href="mailto:school@4forenglish.com">Contact the teacher ►</a></small></p>
              </div>
            </div>
            <div class="card courses">
              <%= cl_image_tag("4forenglish/travel_lwebzn.jpg", cloud_name: 'dp5r9jn8g', alt: "Lezioni di inglese per viaggiare", class: "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to "English for travelling", courses_path %> </h5>
                <br>
                <p class="card-text">If you are going on a holiday or on a business trip... English is fundamental. This course is studied to give you all the necessary tools to travel</p>
                <p class="card-text"><small class="text-muted float-right"><a href="#contact">Contact the teacher ►</a></small></p>
              </div>
            </div>
            <div class="card courses">
              <%= cl_image_tag("4forenglish/italian_c6lujd.jpg", cloud_name: 'dp5r9jn8g', alt: "Course of Italian phrases and gestures", class: "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to "Course of Italian phrases and gestures", italian_course_path %> </h5>
                <p class="card-text">Have you ever wished to speak the romantic Italian language and know the meaning of their gestures?</p>
                <br>
                <p class="card-text"><small class="text-muted float-right"><a href="#contact">Contact the teacher ►</a></small></p>
              </div>
            </div>
            <div class="card courses">
              <%= cl_image_tag("4forenglish/teacher_jxvsim.jpg", cloud_name: 'dp5r9jn8g', alt: "Corsi di Inglese per insegnanti CLIL", class: "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to "4 for English for teachers", courses_path %> </h5>
                <br>
                <p class="card-text">Course designed to help non-native teachers of all subjects improve their English language using the 4 for English method</p>

                <p class="card-text"><small class="text-muted float-right"><a href="#contact">Contact the teacher ►</a></small></p>
              </div>
            </div>
            <div class="card courses">
              <%= cl_image_tag("4forenglish/full_fdbec5.jpg", cloud_name: 'dp5r9jn8g', alt: "Full immersion inglese", class: "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title">English immersion programs</h5>
                <p class="card-text">Wide programme of activities including guided tours in the most suggestive Italian towns. Of course, all in English!</p><br>
                <p class="card-text"><small class="text-muted float-right"><a href="#contact">Contact the teacher ►</a></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Services Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients">
      <div class="container">
        <div class="section-header">
          <h2>Collaborations</h2>
          <p>During the years <span id="forenglish">4 for English</span> has semplified and facilitated the learning of the English language for students from different realities. Here are some! </p>
        </div>
        <%= render 'shared/collaboration' %>
    </section><!-- End Clients Section -->
    <!-- ======= Testimonials Section ======= -->
    <%= render 'shared/rec' %>
    <!-- End Testimonials Section -->
    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Call To Action</h3>
            <p class="cta-text"> Test your English level in order for you to have the best experience. It's free and it is accomplished
            through a short conversation directly with the teacher.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center mt-4">
            <a class="cta-btn align-middle" href="mailto:school@4forenglish.com">Schedule the meeting</a>
          </div>
        </div>
      </div>
    </section><!-- End Call To Action Section -->
    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h2>Teacher</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="details">
                <h4>Frances Gallito</h4>
              </div>
              <br>
              <%= cl_image_tag("4forenglish/pic_uzweqp.jpg", cloud_name: 'dp5r9jn8g', height: 190, alt: "foto profilo Frances Gallito") %>
            </div>
          </div>
          <div class="col-lg-9 col-md-6">
            <div class="details">
              <p align="justify"> Frances grew up and studied in <strong>New York (USA)</strong>. She is qualified in teaching English as a second language - ESL English. She has also achieved the certification <strong>CertTesol of the London Trinity College </strong> to teach internationally.
                Her business background has brought her to take part in several International projects.<br><br>
                 She has taught English and Business English in Italy, Spain, Malta and UK, for the European Community, important Corporations, schools and well-known International Universities. She has numerous years of experience teaching English to learners worldwide.<br>
                 Author of her book <strong><i>4 for English</i></strong>&copy; designed to help students of every level. Her book can also be used by teachers as a resource on which to base lessons. Now she is living in Italy where she continues her passion for teaching. <br><br>"<i>Teaching is not a profession: it's a passion. Without passion for the subject and the desire for your students to learn... the future of a student will resemble a sunset instead of a sunrise</i>"<p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Team Section -->
    <!-- ======= Student experiences Section ======= -->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h2>Experiences</h2>
        </div>
        <%= render 'shared/carousel' %>
      </div>
    </section>
    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container">
        <div class="section-header">
          <h2>Contacts</h2>
        </div>
        <%= render 'shared/form' %>
      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->
  <!-- ======= Footer ======= -->

  <%= render 'shared/footer' %>

  <!-- End Footer -->
</body>
</html>
