<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>4 for English - Imparare l'Inglese non è mai stato così Cool!</title>
  <meta content="4 for English School - Scuola Online di Inglese con ampia scelta di Corsi per tutte le esigenze. Corsi One to One, Gruppi, Business e tanto altro... visita il sito web per saperne di più" name="description">
  <meta name="google-site-verification" content="KgeQasLIeUYaH4GAJM65wuZq0eLEJjeud5RH7D8FunY" />
  <meta name="author" content="Frances Gallito">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
</head>
<body>

    <div class="container">
      <% flash.each do |type, msg| %>
        <div class="alert <%= (type=='notice')? "alert-success": "alert-danger" %> alert-dismissible fade show" role="alert">
        <%= msg %>
        <button type= "button" class= "close" data-dismiss= "alert" aria-label= "Close">
          <span aria-hidden= "true">&times;</span>
        </button>
        </div>
      <% end %>
    </div>

  <!-- ======= Top Bar ======= -->
  <section id="topbar">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <a href="https://www.facebook.com/sharer/sharer.php?u=4forenglish.com" target="_blank">
          <img src="https://www.spicey.it/img/facebook-share.jpg" width= "54.5" alt="facebook-share-button" class="share">
        </a>
        <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_EN</script>
        <script type="IN/Share" data-url="https://www.4forenglish.com"></script>
      </div>
      <div class="social-links float-right">
        <strong>IT</strong> <%= link_to image_tag("bf.jpg", size: "20x20", alt: "British flag"), en_path %>
      </div>
    </div>
  </section><!-- End Top Bar-->

  <!-- ======= Header ======= -->

  <header id="header">
    <div class="container">
      <div id="logo" class="pull-left">
        <%= link_to image_tag("logo.jpg", size: "100x90", id: "logo", alt: "4 for English logo"), root_path %>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><%= link_to "Home", root_path %> </li>
          <li><a href="#about">Metodo didattico</a></li>
          <li><a href="#services">Corsi</a></li>
          <li><a href="#clients">Collaborazioni</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
          <li class="menu-has-children"><a href="">Approfondimenti</a>
            <ul>
              <li><a href="#team">Chi sono</a></li>
              <li><%= link_to "Lezioni", corsi_path %></li>
              <li><%= link_to "Course of Italian words and gestures", italian_course_path %></li>
            </ul>
          </li>
          <li><a href="#contact">Contatti</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->
  <!-- ======= Intro Section ======= -->
  <section id="intro">
    <div class="intro-content">
      <h2><span>4 for English</span></h2>
      <h3>Imparare l'Inglese non è mai stato così cool!</h3>
      <div>
        <a href="#services" class="btn-projects">Corsi con l'Autrice</a>
        <a href="#about" class="btn-get-started">Metodo innovativo</a>
      </div>
    </div>
  </section><!-- End Intro Section -->
  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container mt-4">
        <div class="row">
          <div class="col-lg-8 about-img">
              <%= image_tag("copertina.jpg", alt: "Libro di Frances Gallito") %>
          </div>
          <div class="col-lg-4 content">
            <h2>Cos'è 4 for English?</h2>
            <ul>
              <li> ► è un innovativo metodo di apprendimento della lingua Inglese, testato e approvato da centinaia di studenti di diversi Paesi</li>
              <li> ► si basa su uno stesso schema matematico diviso per 4, visivo e ricorrente per tutte le strutture grammaticali. Significa imparare una sola volta per tutte! </li>
              <li> ► è frutto di ricerche e di approfondimenti sulla teoria della didattica messi a punto dopo più di quindici anni di insegnamento della lingua Inglese </li>
              <li> ► tutti i corsi <span id="forenglish">4 for English</span> si basano su questo metodo didattico. <br><span id="forenglish"><u>Acquista il libro. Contattami!</u></span> </li>
            </ul>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Corsi</h2>
          <p>Tutti i corsi sono basati sulla metodologia innovativa del libro <span id="forenglish">4 for English</span>. <br>L'Autrice e insegnante offre diverse tipologie di corsi. Cosa aspetti? Seleziona quello che ti interessa. </p>
        </div>
        <div class="row">
          <div class="card-deck mb-4 mx-auto">
            <div class="card courses">
              <%= image_tag("online.jpg", alt: "Lezioni private di Inglese", class: "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to "Corsi privati per singoli o per gruppi", corsi_path %> </h5>
                <p class="card-text">Gli argomenti affrontati durante il corso saranno concordati a seguito di un breve incontro conoscitivo</p>
                <p class="card-text"><small class="text-muted float-right"><a href="#contact">Scrivi alla insegnante ►</a></small></p>
              </div>
            </div>
            <div class="card courses">
              <%= image_tag("business.jpg", alt: "Business English", class: "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to "Business English", corsi_path %> </h5>
                <br>
                <p class="card-text">Corsi di Inglese specializzati per rispondere alle esigenze linguistiche delle aziende italiane e internazionali</p>
                <p class="card-text"><small class="text-muted float-right"><a href="mailto:school@4forenglish.com">Scrivi alla insegnante ►</a></small></p>
              </div>
            </div>
            <div class="card courses">
              <%= image_tag("travel.jpg", alt: "Lezioni di inglese per viaggiare", class: "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to "Inglese per viaggiare", corsi_path %> </h5>
                <br>
                <p class="card-text">Che sia un viaggio di lavoro o una vacanza, l'Inglese è una risorsa indispensabile</p>
                <p class="card-text"><small class="text-muted float-right"><a href="#contact">Scrivi alla insegnante ►</a></small></p>
              </div>
            </div>
            <div class="card courses">
              <%= image_tag("italian.jpg", alt: "Course of Italian phrases and gestures", class: "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to "Course of Italian phrases and gestures", italian_course_path %> </h5>
                <p class="card-text">Have you ever wished to speak the romantic Italian language and know the meaning of their gestures?</p>
                <p class="card-text"><small class="text-muted float-right"><a href="#contact">Contact the teacher ►</a></small></p>
              </div>
            </div>
            <div class="card courses">
              <%= image_tag("teacher.jpg", alt: "Corsi di Inglese per insegnanti CLIL", class: "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to "4 for English per insegnanti", corsi_path %> </h5>
                <br>
                <p class="card-text">Corso progettato per docenti non madrelingua per l'approfondimento dell'inglese con metodo 4 for English</p>
                <p class="card-text"><small class="text-muted float-right"><a href="#contact">Scrivi alla insegnante ►</a></small></p>
              </div>
            </div>
            <div class="card courses">
              <%= image_tag("full.jpg", alt: "Full immersion inglese", class: "card-img-top") %>
              <div class="card-body">
                <h5 class="card-title">Full immersion </h5>
                <br>
                <p class="card-text">Tour guidati, trekking, yoga, cucina, arte, B&B. Ovviamente tutto in Inglese!</p><br>
                <p class="card-text"><small class="text-muted float-right"><a href="#contact">Scrivi alla insegnante ►</a></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients">
      <div class="container">
        <div class="section-header">
          <h2>Collaborazioni</h2>
          <p>Nel corso degli anni <span id="forenglish">4 for English</span> ha semplificato l'apprendimento della lingua Inglese per studenti provenienti da molteplici realtà. Eccone alcune! </p>
        </div>
        <row>
          <div class="col-lg-2 about-img inline-block">
              <%= image_tag("luiss.jpg", alt: "logo Luiss University") %>
          </div>
          <div class="col-lg-1 about-img inline-block">
              <%= image_tag("sussex.png", alt: "logo Sussex University") %>
          </div>
          <div class="col-lg-1 about-img inline-block">
              <%= image_tag("british.gif", alt: "logo British School") %>
          </div>
          <div class="col-lg-1 about-img inline-block">
              <%= image_tag("ef.jpg", alt: "logo EF") %>
          </div>
          <div class="col-lg-2 about-img inline-block">
              <%= image_tag("lal.jpg", alt: "logo LAL") %>
          </div>
          <div class="col-lg-1 about-img inline-block">
              <%= image_tag("enterprise.jpg", alt: "logo agenzia viaggi Enterprise") %>
          </div>
          <div class="col-lg-1 about-img inline-block">
              <%= image_tag("28.jpg", alt: "logo ventottesimo reggimento di Pavia") %>
          </div>
          <div class="col-lg-2 about-img inline-block">
              <%= image_tag("Trelleborg.png", alt: "logo Trelleborg") %>
          </div>
        </row>
      </div>
    </section><!-- End Clients Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials">
      <div class="container">
        <div class="section-header">
          <h2>Testimonials</h2>
        </div>
          <div class="testimonial-item">
            <p>
              "After 2 years of interruption, I had the chance to start over and complete my B1+ level. I clearly remember the first day with Frances,
              the teacher. I was a little scared but she encouraged me to pick up all I had missed, especially with the use of the book 4 for English.
  Note for the teacher: Thank you Frances for your professionality and patience with me. I won't forget it!"
            </p>
            <h6>Claudia</h6>
            <h4><strong>Adult Learner</strong></h4>
          </div>
          <div class="testimonial-item">
            <p>
              "I have finally understood many English Sentence Structures. I miss you and Malta!"
            </p>
            <h6>Oliver </h6>
            <h4><strong>International Young Learner - Copenaghen </strong></h4>
          </div>
          <div class="testimonial-item">
            <p>
              "Best teacher for me on Campus"
            </p>
            <h6>Aya</h6>
            <h4><strong>International Young Learner - Israel</strong></h4>
          </div>
          <div class="testimonial-item">
            <p>
              "Frances was my English teacher over the last 8 months and for me has been a pleasure to work with her. Thanks to her approach and teaching method, I have been able to improve and deepen my English knowledge. Additionally, I've really appreciated her book 4 for English. The structure is very useful. For me, it has been a very good way to improve the language"
            </p>
            <h6>Gianluca Palmieri</h6>
            <h4><strong>Business and Marketing Analyst</strong></h4>
          </div>
          <div class="testimonial-item">
            <p>
              "I would like to thank Frances because she was my first real English teacher. In the past I have followed several English courses and all the lessons were boring. In my opinion the great strengths of Frances are the communication and her ability to custom the lessons to her students, because for sure she loves her job. Her method in teaching was very stimulating. My approach to the English language has improved for the first time and this has been possible thanks to her"
            </p>
            <h6>Isabella Panetta</h6>
            <h4><strong> Marketing Assistant</strong></h4>
          </div>
          <div class="testimonial-item">
            <p>
              "For me it was an important way to approach the English lessons. Her skill to create an interesting environment and a high level experience was for me a great opportunity to learn English. The structures from her book 4 for English helped me understand the different verb tenses and it was easier for me to comprehend the English language. I have improved the English language and the efficiency on my job. Thank you"
            </p>
            <h6>Augusto Gilardi</h6>
            <h4><strong>Reporting Manager</strong></h4>
          </div>
          <div class="testimonial-item">
            <p>
              "I would like to thank British School for the opportunity to study with a GREAT teacher from New York. She is professional, reliable, meticolous and knowledgeable. For me she has been the perfect teacher to learn and improve my English"
            </p>
            <h6>Cristina Melandri</h6>
            <h4><strong>Manager Assistant</strong></h4>
          </div>
          <div class="testimonial-item">
            <p>
              "Great job!!! Your teacher rating for Summer 2018 is 4.885. Well done on that! Ranking top 10 International best teachers"
            </p>
            <h6>EF</h6>
            <h4><strong>Education First</strong></h4>
          </div>
          <div class="testimonial-item">
            <p>
              "Thank you Frances. Your empathy, professionality, qualities and initiatives for the teaching approach have been more than qualified. It was immediately obvious that you have a great report with the students. The atmosphere in your classroom is supportive, relaxed and enjoyable. We appreciated greatly having you in our team"
            </p>
            <h6>LAL UK</h6>
            <h4><strong>Sussex University</strong></h4>
          </div>
          <div class="testimonial-item">
            <p>
              "Enrolling to English schools represents a new challenge every year. This year I had a new teacher from NY, Frances. I have found her explanation very clear and methods of teaching very useful and efficient. Every lesson was different from the other. It was very interesting and never boring"
            </p>
            <h6>Andrea</h6>
            <h4><strong>Student</strong></h4>
          </div>
          <div class="testimonial-item">
            <p>
              "I was followed by Mrs Frances Gallito during my upper-intermediate Business English course. I very much liked and appreciated her structured way of teaching which gave me a real and great improvement of my knowledge. The structure of her book helped me to improve the understanding of different sentence structures and verb tenses, making everything easier to understand"
            </p>
            <h6>Francesco Rembadi</h6>
            <h4><strong>Quality Manager</strong></h4>
          </div>
          <div class="testimonial-item">
            <p>
              "Il corso è stato efficace e molto interessante. Utile per poter approfondire la lingua Inglese. La nostra teacher Frances è stata molto brava sia nei metodi che nella didattica, capace di rendere la lezione sempre stimolante. Il suo libro 4 for English è comprensibile e ben strutturato, capace di farti apprendere facilmente i tempi verbali"
            </p>
            <h6>Divisione Esercito 28^ Pavia</h6>
            <h4><strong>Student</strong></h4>
          </div>
          <div class="testimonial-item">
            <p>
              "Da 1 a 10, voto 10! Per i suoi metodi di insegnamento efficaci. 4 for English è stato molto utile per riuscire a seguire tutte le lezioni"
            </p>
            <h6>Divisione Esercito 28° Pavia</h6>
            <h4><strong>Student B1</strong></h4>
          </div>
          <div class="testimonial-item">
            <p>
              "Frances provided exhaustive information about every topic. She is very skilled, she has adopted a tutorial approach that immediately improved my understanding. She is competent and experienced in both languages. Definetely it was a pleasure learning English with her"
            </p>
            <h6>Gianpaolo</h6>
            <h4><strong>British School student</strong></h4>
          </div>
          <div class="testimonial-item">
            <p>
              "Ho partecipato a diversi programmi di full-immersion estivi organizzati dalla teacher Frances, dove ho avuto modo insieme ad altri studenti di parlare Inglese e di divertirmi tanto in escursioni, visite a luoghi di interesse e attività come yoga, trekking e corsi di cucina"
            </p>
            <h6>Natascia</h6>
            <h4><strong>British School student</strong></h4>
          </div>
        </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Call To Action</h3>
            <p class="cta-text"> Prima di scegliere il corso, definiamo insieme il tuo livello attuale di inglese perchè tu possa avere la migliore esperienza. La valutazione è gratuita e avviene tramite un breve colloquio sostenuto direttamente con la insegnante.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center mt-4">
            <a class="cta-btn align-middle" href="mailto:school@4forenglish.com">Fissa un colloquio</a>
          </div>
        </div>
      </div>
    </section><!-- End Call To Action Section -->
    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h2>Insegnante</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="details">
                <h4>Frances Gallito</h4>
              </div>
              <br>
                <%= image_tag("pic.jpg", height: 190, alt: "foto profilo Frances Gallito") %>
            </div>
          </div>
          <div class="col-lg-9 col-md-6">
            <div class="details">
              <p align="justify"> Vissuta e cresciuta a <strong>New York (USA)</strong>, dove ha completato gli studi obbligatori. Ha frequentato corsi di Business and Market Development, preso parte a diversi progetti Internazionali e si è qualificata nell'insegnamento dell'Inglese come seconda lingua ESL English. Ha ottenuto la certificazione <strong>CertTesol dalla Trinity College di Londra</strong>, qualifica questa valida per l'insegnamento dell'Inglese a livello internazionale.<br><br>
                Ha lavorato per diverse importanti realtà come il
                <strong>Centro Italiano Didattico di Roma, la Comunità Europea, </strong> rinomate <strong>Università, Colleges, Scuole</strong> e <strong>Aziende</strong> in Italia, USA, UK, Spagna e Malta. Autrice del libro <strong><i>4 for English</i></strong>&copy;, specializzato nella didattica di tutte le strutture grammaticali fondamentali della lingua Inglese. Oggi vive in Italia e può vantare di oltre 15 anni di esperienza nell'insegnamento. <br><br>"<i>Teaching is not a profession: it's a passion. Without passion for the subject and the desire for your students to learn... the future of a student will resemble a sunset instead of a sunrise</i>"<p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Team Section -->
    <!-- ======= Student experiences Section ======= -->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h2>Esperienze</h2>
        </div>
        <div class="container carosello">
          <div id="carouselExampleControls" class="carousel slide mb-4" data-ride="carousel" style="width:55%; margin:auto; background:#194477; padding:7px;">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag("class1.jpg", class: "d-block w-100", alt: "fotografia giovani studenti di inglese") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class2.jpg", class: "d-block w-100", alt: "fotografia giovani studenti di inglese") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class3.jpg", class: "d-block w-100", alt: "fotografia studenti militari di inglese") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class4.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class5.jpg", class: "d-block w-100", alt: "fotografia giovani studenti di inglese") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class6.jpg", class: "d-block w-100", alt: "fotografia insegnanti di inglese") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class7.jpg", class: "d-block w-100", alt: "fotografia giovani studenti di inglese") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class8.jpg", class: "d-block w-100", alt: "fotografia Frances Gallito") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class9.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class11.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class12.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class13.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class14.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class15.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class16.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class18.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class21.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class22.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class23.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class24.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class25.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class26.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class27.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class28.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class29.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("class30.jpg", class: "d-block w-100", alt: "fotografia studenti adulti di inglese. Do you speak English?") %>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container">
        <div class="section-header">
          <h2>Contatti</h2>
        </div>
      <div class="container mb-4">
        <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Pesaro%20(PU)+(My%20Business%20Name)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <%= render 'shared/form' %>
      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->
  <!-- ======= Footer ======= -->

  <%= render 'shared/footer' %>

  <!-- End Footer -->
</body>
</html>
