<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>4 for English </title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">


  <!-- =======================================================
  * Template Name: Reveal - v2.1.0
  * Template URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>


  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
    <!--<div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:francesgallito.ny@gmail.com">francesgallito.ny@gmail.com</a>
        <i class="fa fa-phone"></i> +39 347-5628-822
      </div> -->
      <div class="social-links float-right">

        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Top Bar-->

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">


      <div id="logo" class="pull-left">
        <%= image_tag("logo.jpg", size: "70x60", id: "logo") %>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><%= link_to "Home", root_path %> </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>

  <!-- End Header -->


  <!-- Lessons -->

  <section id="services">
    <div class="container">
      <div class="section-header">
        <h2>Lezioni</h2>
        <p class="text-justify">Tra le tante proposte di corsi di lingua Inglese, aumentate specialmente in questo periodo, voglio aiutarvi a capire come scegliere quelli veramente efficaci.<br> Parlare la lingua non implica saperla insegnare. Tu sapresti insegnare l’italiano? <br>
Il mio suggerimento che sento di darvi è quindi di guardare innanzitutto agli anni di studio e agli anni di esperienza del docente. Inoltre, se ha insegnato in diversi paesi è probabile che abbia sviluppato capacità migliori nel comprendere lo studente e le molteplici difficoltà insite nell'apprendimento di una lingua straniera.
Infine guardate ai risultati ottenuti e al grado di soddisfazione degli studenti, che attestano la loro crescita e miglioramento nella comprensione della lingua.<br>
Tutto questo è importante quando si sceglie un corso di INGLESE per camminare assieme nell’avventura del meraviglioso mondo dello studio, aprendosi alle molteplici opportunità cui le nuove conoscenze possono portare.<br>
I corsi della <span id="forenglish">4 for English</span> <span id="ischool"> School</span> si basano su un innovativo ed esclusivo metodo di insegnamento, utilizzato con successo da centinaia di studenti per apprendere e comprendere in modo naturale e immediato tutte le strutture fondamentali della lingua Inglese.<br>
Ecco le proposte per te!
 </p>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card border-danger mb-3" style="height: 30rem;">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Lezioni private online ONE-TO-ONE</strong></h5>
              <p class="card-text text-center"><br>Se il tempo lo vuoi concentrare su di te, allora
                questo è il tuo corso!<br>
                Corsi privati con insegnante
                Madrelingua qualificata per portarti ad
                acquisire sicurezza, migliorando le tue abilità nello Speaking, Listening, Reading e Writing, fondamentali per raggiungere importanti traguardi sia nella vita che nella carriera lavorativa.
                Chiedi un appuntamento per valutare il tuo livello e <strong>inizia subito!</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-danger mb-3" style="height: 30rem;">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Lezioni di Gruppo online <br>20/30/60 ore</strong></h5>
              <p class="card-text text-center">Corsi con insegnante
              Madrelingua per gruppi da max 4 studenti per livelli intermedi (B1-B2) oppure per gruppi da max 8 persone per livelli principianti (A1-A2).
Approfondisci la grammatica Inglese e migliora le tue capacità di conversazione e di comprensione. Impara a scrivere in modo corretto email, messaggi, articoli e briefings. Le lezioni saranno interattive, divertenti e mai ripetitive. <br><strong>Partecipa anche tu!</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-danger mb-3" style="height: 30rem;">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Corso Conversazione <br>10 ore</strong></h5>
              <p class="card-text text-center">Questo corso è adatto per i livelli intermedi e avanzati (B1/B2/C1).
La migliore soluzione per esercitare e migliorare la conversazione, con l’opportunità di mettere in pratica tutte le regole grammaticali parlando comodamente da casa con la insegnante Madrelingua che renderà la vostra lezione sempre interessante e stimolante.
L'obiettivo di questo corso è far acquisire allo studente sicurezza espositiva, capacità di espressione e lessicale. <br><strong>Inizia subito!</strong>

              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mt-4">
          <div class="card border-info mb-3" id= "cardbusiness" style="height: 30rem;">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Business English <br>20/30/60 ore</strong></h5>
              <p class="card-text text-center"><br>Per assicurare a te o alla tua Azienda un vantaggio rispetto ai tuoi concorrenti. <br>L’inglese commerciale è una risorsa vincente per qualsiasi situazione lavorativa in Italia e all’Estero. Con questo corso imparerai a gestire telefonate, inviare email, scrivere
  presentazioni e briefing, esporre argomenti, sostenere interviste di lavoro. Investi nella tua crescita professionale!
  Networking, Meetings, Telephoning, Management e Negotiations sono alcuni degli argomenti che verranno trattati.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-4">
          <div class="card border-info mb-3" id= "cardbusiness" style="height: 30rem;">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Inglese per viaggiare <br>20/30 ore</strong></h5>
              <p class="card-text text-center"><br>Affrontare un viaggio all'estero potendo contare su una conoscenza di base della lingua Inglese ti permetterà di godere a pieno del tuo viaggio.<br>
                Questo corso è focalizzato nell'apprendimento delle frasi più utili a seconda delle situazioni: check-in, aeroporti, hotel, ristoranti, dogane etc... tutto ciò di cui avete bisogno per girare il mondo, migliorando così capacità grammaticali e vocabolario. <br> Per essere certi che il vostro viaggio sia perfetto, dovrete portare con voi un po' di Inglese. <strong>Parti subito</strong>.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-4">
          <div class="card border-info mb-3" id= "cardbusiness" style="height: 30rem;">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>4 for English Masterclass</strong></h5>
              <p class="card-text text-center"><br><br><br><br><br><br><br><span id="forenglish">Coming soon...</span>
              </p>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End About Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container">
        <div class="section-header">
          <h2>Contatti</h2>
        </div>

        <div class="row contact-info">

        </div>
          <div class="form">
            <%= form_with scope: :article, url: articles_path, class: "php-email-form", local: true do |f| %>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= f.text_field :name, id: "name", class: "form-control", placeholder: "Your Name" %>
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <%= f.text_field :email, id: "email", class: "form-control", placeholder: "Your Email" %>
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <%= f.text_field :subject, id: "subject", class: "form-control", placeholder: "Subject" %>
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <%= f.text_area :message, id: "message", class: "form-control", rows: 5, placeholder: "Message" %>
                <div class="validate"></div>
              </div>
              <div class="form-group row justify-content-center">
                <%= f.submit class: "button", value: "Send Message" %>
                <% end %>
              </div>
          </div>
      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Footer ======= -->

    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright 2021 <strong>4 for English - Fundamental English Sentence Structures </strong>. All Rights Reserved
        </div>
      <div class="credits">

          Designed by <%= link_to "Alessandro Ciocchetti", "https://www.linkedin.com/in/alessandro-ciocchetti-281217152/", target: "_blank", rel: "noopener noreferrer" %> for Frances Gallito

        </div>

      </div>

    </footer>
    <!-- End Footer -->


  </body>

  </html>
