<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= favicon_link_tag asset_path('logo.jpg') %>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>

    <meta name="google-site-verification" content="KgeQasLIeUYaH4GAJM65wuZq0eLEJjeud5RH7D8FunY" />

    <style>

      /* Style the links inside the sidenav */
      #mySidenav a {
        position: fixed; /* Position them relative to the browser window */
        transition: 0.3s; /* Add transition on hover */
        left: -110px;
        padding: 13px; /* 15px padding */
        width: 150px; /* Set a specific width */
        text-decoration: none; /* Remove underline */
        font-size: 16px; /* Increase font size */
        color: white; /* White text color */
        border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
        z-index: 10000;
        animation-name: animazione;
        animation-duration: 4s;
        animation-timing-function: cubic-bezier(.85,-0.3,.50,.7);
      }

      @keyframes animazione {
        from {left: 0;}
        to {left: -110px;}
      }

      #mySidenav a:hover {
        left: 0; /* On mouse-over, make the elements appear as they should */
      }

      /* The about link: 20px from the top with a green background */
      #mclass {
        top: 45%;
        background-color: #081e5b;
      }

      #blog {
        top: 55%;
        background-color: #CF132B;
      }


    </style>


  </head>
  <body>
    <div id="mySidenav" class="sidenav">
      <a href="https://www.4forenglish.com/masterclass" id="mclass" target="_blank"><strong>Masterclass</strong> <i class="fas fa-book float-right"></i></a>
      <a href="https://www.4forenglish.com/posts" id="blog" target="_blank"><strong>Blog</strong> <i class="fas fa-blog float-right"></i></a>
    </div>



    <div id="page-content">
      <div class="container">
        <% flash.each do |type, msg| %>
          <div class="alert <%= (type=='notice')? "alert-success": "alert-danger" %> alert-dismissible fade show" role="alert">
          <%= msg %>
          <button type= "button" class= "close" data-dismiss= "alert" aria-label= "Close">
            <span aria-hidden= "true">&times;</span>
          </button>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
